<form action="/dashboard/addplacemark" method="POST">
  <div class="field">
    <label class="label">Placemark Title</label> <input class="input" type="text" placeholder="Enter playlist title" name="title">
  </div>
  <button class="button is-link">Add Placemark</button>
</form>
