<nav class="navbar">
  <div class="navbar-brand">
    {{> sail-placemark-brand}}
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a id="dashboard" class="button" href="/dashboard"> Dashboard </a>
          {{#if user.isAdmin}}
            <a id="admin" class="button" href="/admin"> Admin </a>
          {{/if}}
          <a id="deleteaccount" class="button is-danger" href="/deleteaccount"> Delete Account </a>
          <a id="logout" class="button" href="/logout"> Logout </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<script>
  const activeId = "{{active}}";
  const activeEl = document.getElementById(activeId);
  if (activeEl) activeEl.classList.add("is-primary");
</script>